.text-primary {
    color: #28A745;
}
.text-secondary {
    color: #333333;
}
.text-light {
    color: #fff;
}
.bg-primary {
    background-color: #28A745;
}
.bg-secondary {
    background-color: #0284d0;
}
.bg-light {
    background-color: #fff;
}
.bg-dark {
    background-color: #333333;
}
.bg-gray {
    background-color: #ebeaeac9;
} 


.td {
    text-decoration: none;
}

.ttc {
    text-transform: capitalize;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    width: 50%;
}
.btn {
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 4px;
    outline: none;
    border: none;
}